<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <% for (let i = 0; i < topThree.length; i++) { %> 
            <li><%= i + 1 %>. <%= topThree[i] %>  </li>
          <% }; %> 
        </ol>
      </div>
    </div>
  </div>
  <%- include('../partials/nav') %> 
</body>
