<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ul>
          <% popularGirlNames.forEach( (elem, index) => { %> 
            <li><%= index + 1 %>. <%= elem %>  </li>
          <% }); %>  
        </ul>
      </div>
    </div>
  </div>
  <%- include('../partials/nav') %> 
</body>
